<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "MyRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav_item">
      <%= link_to "Link 1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 2", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 3", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</header>